.formulario-cotizador-contenedor {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.formulario-cotizador-select {
  position: relative;
  margin-bottom: 15px;
}

.formulario-cotizador-select input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icono-limpiar {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.icono-limpiar:hover {
  color: #f00;
}

.formulario-cotizador-sugerencias {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  padding-left: 0; /* Eliminar viñetas */
}

.formulario-cotizador-sugerencias li {
  padding: 10px;
  cursor: pointer;
}

.formulario-cotizador-sugerencias li:hover {
  background-color: #f1f1f1;
}

.formulario-cotizador-entradas-fila {
  margin-bottom: 15px;
}

.formulario-cotizador-entradas-fila input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-cotizador-botones {
  display: flex;
  justify-content: space-between;
}

.formulario-cotizador-boton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulario-cotizador-boton:hover {
  background-color: #218838;
}

.formulario-cotizador-boton.limpiar {
  background-color: #75736f;
}

.formulario-cotizador-boton.limpiar:hover {
  background-color: #42403b;
}
